.search_bar {
    min-width: 100%;
    min-height: 48px;
    background-color: #fefefe;
    border: 0px solid #0000;
    border-radius: 0.2em;

    display: grid;
    grid-template-columns: 1fr auto;

    overflow: hidden;

    & input[type="search"] {
        height: 100%;
        width: 100%;

        outline: none;
        border: none;
        padding: 0.3em;
        font-size: 1em;
        line-height: 1.2;

        border-right: 1px solid #0003;

        background-color: inherit;
    }

    & button[type="submit"]  {
        height: 100%;
        aspect-ratio: 1/1;

        display: grid;
        place-content: center;

        border: none;
        background-color: inherit;

        color: #121212;
        padding: 0 0.3em;
    }
}