.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2vw;

    font-size: 18px;
    font-family: monospace;
    font-weight: bolder;

    min-height: 39px;

    background-color: var(--secondary-bg);
}

.logo_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    width: 64px;
    height: 64px;

    overflow: visible;
    display: grid;
    place-content: center;

    & img {
        width: 64px;
        height: auto;


    }
}
