.button {
    background-color: #efefef;
    color: #121212;

    width: min-content;

    border: none;
    border-radius: 0.2em;
    padding: 0.2em 0.3em;

    & a {
        color: inherit;

        font-size: 1em;
        font-weight: 600;
        
        user-select: none;
        cursor: pointer;
    }

    & a:visited {
        color: inherit;
    }
}