.user_profile {
  position: relative;
  display: grid;
  
  &:first-child  {  
    background-color: #fefefe;
    border-radius: 100%;
    border: 2px solid #9f9f9f5e;
    height: 52px;
    width: 52px;
  }

  & img {
    border-radius: 100%;
  }
}

.desplegable {
  position: absolute;

  background-color: #fefefe;
  color: #121212;
  padding: 0.5em;

  top: 120%;
  right: 0;

  width: max-content;

  & a, 
  & a:visited {
    color: #121212;
    text-decoration: none;
  }

  & ul{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

}