:root {
  color-scheme: light dark;
  --logo-size: 16px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 767px) {
  :root {
    --logo-size: 24px;
  }
}

@media screen and (min-width: 1023px) {
  :root {
    --logo-size: 26px;
  }
}