:root {
  --bg: #fefefe;
  --fore: #121212;
  --secondary-fore: #12121244;
  --secondary-bg: #39f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --fore: #fefefe;
    --secondary-bg: #2d84db;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--fore);
  background-color: var(--bg);
}
